* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Roboto", sans-serif;
}
button {
    background-color: transparent;
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}
.btn {
    padding: 5px 20px;
    border-radius: 7px;
    border: 1px solid crimson;
    background-color: #fff;
    color: crimson;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn:hover {
    background-color: crimson;
    color: #fff;
}
.btn:disabled {
    border-color: darkgray;
    color: darkgray;
    pointer-events: none;
}
body {
    background-color: #f1f1f1;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}
.cart > button {
    position: relative;
}
.cart > button > .counter {
    position: absolute;
    background-color: crimson;
    right: 7px;
    top: 2px;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    z-index: 2;
    border: 2px solid #e8e8e8;
    display: none;
}
.cart > button > img {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.cart > button:hover > img {
    transition: 0.3s;
    opacity: 50%;
}

.product-item {
    display: flex;
    gap: 20px 40px;
}
.product-item > .photo-container > .main > img {
    border: solid 1px #e4e3e3;
    border-radius: 8px;
    width: 550px;
    height: 400px;
    padding: 5px;
}
.product-item > .photo-container > .thumbs > a > img {
    border: solid 1px #e4e3e3;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    float: left;
}
.product-item > .photo-container > .thumbs > a > img:hover {
    border-color: crimson;
}
.product-item > .info {
    display: flex;
    flex-direction: column;
}
.product-item > .info > .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-item > .info > p {
    font-size: 24px;
}
.product-item > .info > .btn {
    align-self: flex-end;
    margin-top: 15px;
    font-size: 19px;
}
.product-item > .info > .price {
    font-size: 22px;
    color: crimson;
    font-weight: 700;
    margin-bottom: 20px;
}

.product-item > .info > .price > .old {
    text-decoration: line-through;
    color: darkgray;
    margin-right: 10px;
}
.product-item > .info > .price > .current {
    font-size: 25px;
}

.product-item > .info > .items-avalible {
    align-self: flex-end;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .product-item {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .product-item > .photo-container > .main > img {
        width: 440px;
        height: 320px;
        padding: 5px;
    }
    .product-item > .photo-container > .thumbs > a > img {
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 420px) {
    .product-item > .photo-container > .main > img {
        width: 374px;
        height: 272px;
        padding: 5px;
    }
    .product-item > .photo-container > .thumbs > a > img {
        width: 68px;
        height: 68px;
    }
}
